<!DOCTYPE html>
<html>
<head>
  <title>CodeNight2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <br/>
  <%= link_to 'Yeni Film', new_movie_path,class:'btn btn-warning' %>
  <%= link_to 'Tüm Film', movies_path,class:'btn btn-warning' %><br/>
  <%= yield %>
  
  
</div>



</body>
</html>
